
.navbarmain {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 10px;
}
.selectednv{
    transform: scale(1.1);
    text-align: center;
    width: 10%;
    min-width: fit-content;
    font-size: 1.7rem;
    border-radius: 5px;
    text-decoration:none;
    box-shadow: 0 0 15px rgb(205, 65, 22);
    color: inherit;
    background-color: inherit;
    transition: 0.5s;
}
.navs{
    width: 10%;
    min-width: fit-content;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 5px;
    text-decoration:none;
    color: inherit;
    background-color: inherit;
    transition: 0.5s;
}
.navs:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 15px rgb(205, 65, 22);
}

